@page "/plex"
@attribute [StreamRendering]
@using System.IO

<h2>Plex Import</h2>

@if (content == null)
{
	<p><em>Loading...</em></p>
}
else if (content.Count() == 0)
{
	<p>nothing found at @SharedData.src</p>
}
else
{
	<select id="select-uri">
		<option value="-1">select content</option>
		@foreach (var con in content)
		{
			<option value="@con">@con.Split('/')[2]</option>
		}
	</select>
	<br />
	<br />
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Import</button>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="btn-group">
						<button id="modal-movie" type="button" class="btn btn-primary">Movie</button>
						<button id="modal-tv" type="button" class="btn btn-primary">TV Show</button>
					</div>
				</div>
				<div class="modal-body">
					<h2 id="modal-content-selector">Movie</h2>
					<br>
					<div id="modal-movie-body">
						<label>Movie Title</label>
						<br>
						<input id="movie-title">
						<br>
						<label>Movie Year</label>
						<br>
						<input id="movie-year" type="number">
					</div>
					<div id="modal-tvshow-body">
						<label>TV Show Title</label>
						<br>
						<select id="tv-title">
							<option value="-1">select content</option>
							<option value="new">new series</option>
							@foreach (var series in SharedData.tvshowList)
							{
								<option value="@series">@series</option>
							}
						</select>
						<br>
						<div id="new-series-title-block">
							<label>New Series Name</label>
							<br />
							<input id="new-series-title" type="text" />
							<br />
						</div>
						<label>TV Show Season Number</label>
						<br>
						<input id="tv-season" type="number">
						<br>
						<label>TV Show Episode Number</label>
						<br>
						<input id="tv-episode" type="number">
					</div>
				</div>
				<div class="modal-footer">
					<button id="modal-import-run" type="button" class="btn btn-primary" data-dismiss="modal">Run</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	<script>

		$(document).ready(function () {
			$('#modal-tvshow-body').toggle();
			$('#new-series-title-block').toggle();
		});

		$('#modal-movie').on('click', function () {
			console.log('movie button clicked');
			$('#modal-content-selector').html("Movie");
			$('#modal-movie-body').toggle();
			$('#modal-tvshow-body').toggle();
		});


		$('#modal-tv').on('click', function () {
			console.log('tv show button clicked');
			$('#modal-content-selector').html("TV Show");
			$('#modal-tvshow-body').toggle();
			$('#modal-movie-body').toggle();
		});

		$('#tv-title').on('change', function () {
			let title = $('#tv-title').val();

			if (title == "new") {
				$('#new-series-title-block').toggle();
			}
		});


		$('#modal-import-run').on('click', function () {
			let uri = $('#select-uri').val();

			console.log("uri: " + uri);

			if (uri == -1) {
				swal.fire({
					"title": "Select Content",
					"text": "You must select something",
					"icon": "error",
					"timer": 5000
				});

				return;
			}

			const selector = $('#modal-content-selector').html();
			console.log('selector: ' + selector);

			if (selector == "Movie") {
				console.log("running movie");

				let title = $('#movie-title').val();
				let year = $('#movie-year').val();

				console.log("title: " + title);
				console.log("year: " + year);

				var data = {
					'uri': uri,
					'title': title,
					'year': year
				};


				$.ajax({
					type: "POST",
					url: "api/movie",
					contentType: "application/json",
					data: JSON.stringify(data),
					success: function () {
						swal.fire({
							title: "Movie Success",
							text: "api success",
							icon: "success",
							timer: 5000
						});
					},
					error: function () {
						swal.fire({
							title: "Movie Error",
							text: "Something Bad Happened",
							icon: "error",
							timer: 5000
						});
					}
				});

			} else if (selector == "TV Show") {
				console.log("running tv show");

				let title = $('#tv-title').val();
				let season = $('#tv-season').val();
				let episode = $('#tv-episode').val();

				if (title == "new") {
					title = $('#new-series-title').val();
				}

				console.log("title: " + title);
				console.log("season: " + season);
				console.log("episode: " + episode);

				var data = {
					'uri': uri,
					'title': title,
					'season': season,
					'episode': episode
				};

				$.ajax({
					type: "POST",
					url: "api/tvshow",
					contentType: "application/json",
					data: JSON.stringify(data),
					success: function () {
						swal.fire({
							title: "TV Show Success",
							text: "api success",
							icon: "success",
							timer: 5000
						});
					},
					error: function () {
						swal.fire({
							title: "TV Show Error",
							text: "Something Bad Happened",
							icon: "error",
							timer: 5000
						});
					}
				});
			} else {
				console.log("something bad happened");
				swal.fire({
					title: "Error",
					text: "Something Bad Happened",
					icon: "error",
					timer: 5000
				});
			}

			// window.location.reload();
		});
	</script>
}


@code {
	private List<string>? content;


	private string movie_modal_html = """<h2 id="modal-content-selector">Movie</h2><br><label>Movie Title</label><br><input id="movie-title"><br><label>Movie Year</label><br><input id="movie-year" type="number">""";
	private string tvshow_modal_html = """<h2 id="modal-content-selector">TV Show</h2><br><label>TV Show Title</label><br><input id="tv-title"><br><label>TV Show Season Number</label><br><input id="tv-season" type="number"><br><label>TV Show Episode Number</label><br><input id="tv-episode" type="number">""";


	protected override async Task OnInitializedAsync()
	{
		if (!Directory.Exists(SharedData.src))
		{
			content = new List<string>();
		}
		else
		{
			string[] immediateSubdirectories = Directory.GetDirectories(SharedData.src);

			@* foreach (string subdirectory in immediateSubdirectories)
			{
				Console.WriteLine(subdirectory);
			} *@

			content = immediateSubdirectories.ToList<string>();
		}
	}
}